<form [formGroup]="loginForm"  class="example-form" novalidate (submit)="loginUser()">
  <md-form-field class="example-full-width">
    <input type="text"  required mdInput name="userName" formControlName="userName" placeholder="UserName">
  </md-form-field>
  <md-form-field class="example-full-width">
    <input type="password"  required mdInput name="passeword" formControlName="password" placeholder="Password">
  </md-form-field>
  <div>
    <button [disabled]="loginForm.invalid" md-raised-button color="primary">Login</button>
  </div>
</form>
