<!--The whole content below can be removed with the new code.-->
<!-- <div *ngIf="isVisible" [innerHtml]="title" style="text-align:center">
  <h1>
    Welcome to {{title}} -- Manged By {{productManger}}

  </h1>
</div>

<div [ngSwitch]="isVisible">
  <div *ngSwitchCase="false">
    Div1 is visible
  </div>
  <div *ngSwitchCase="true">
    Div2 is visible
  </div>
</div>

{{isVisible}}

<button (click)="toggle()">Toggle</button> -->

<!-- <app-product></app-product>

<app-order></app-order> -->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Product Management</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a [routerLink]="['/order']">Order</a></li>
        <li><a routerLink="/product">Product</a></li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>