<h1>
  Welcome to product page
</h1>
{{product}}
<input type="text" [value]="title">

<app-productlist [productList]="products" [title]="'Test'" (getProduct)="getProductFromChild($event)" ></app-productlist>
<app-productlist [productList]="products" (getProduct)="getProductFromChild($event)" ></app-productlist>
<app-productlist [productList]="products" (getProduct)="getProductFromChild($event)" ></app-productlist>
<app-productdetails [title]="title" ></app-productdetails>
<!--  -->

<button class="btn btn-primary" (click)="getProduct()">Get Product from Parent </button>